  /* work sans font from google-font  */
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Merriweather:ital,wght@0,300;0,400;1,400&family=Open+Sans:wght@300;400&family=Oswald:wght@200;300;600&family=Rubik+Doodle+Shadow&family=Work+Sans:wght@400;600;700&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Work Sans', sans-serif;

  }

  /* nav style  */
  header {
      background: rgba(255, 144, 14, 0.10);
      padding: 50px 240px;
  }

  .nav-title {
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 700;
      /* text-align: center; */
  }

  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  nav>ul {
      display: flex;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      /* margin-left: 700px; */

  }

  nav>ul a {
      margin-left: 50px;
      text-decoration: none;
      color: black;
  }

  nav>ul li {
      list-style: none;
  }

  /* banner style  */
  .banner-contant {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
  }

  .banner-title {
      color: #131313;
      font-size: 4rem;
      font-weight: 700;
      text-align: center;
      margin: 50px 50px;
  }

  .banner-description {
      color: #727272;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      /* margin-top: 145px; */
  }

  .btn-pramary {
      border-radius: 8px;
      background: #FF900E;
      padding: 20px 25px;
      color: #FFF;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 600;
      margin: 53px auto;
      border: none;
      cursor: pointer;

  }

  .banner img {
      /* max-width: 1440px; */
      width: 100%;
  }

  /* main styles  */
  main {
      max-width: 1440px;
      margin: 70px auto;
  }

  .teams-container {
      display: flex;
      align-items: center;
  }

  .teams-contant {
      padding: 0px 70px;
  }

  .teams-title {
      color: #727272;
      font-size: 45px;
      font-weight: 500;
  }

  .teams-description {
      color: #727272;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
  }

  .of-our {
      font-weight: bold;
      color: #131313;
  }

  .Features {
      font-weight: bold;
      color: #FF900E;
  }

  .teams-img-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

  }

  /* fact styles  */

  .facts-card-container {
      display: flex;
      gap: 20px;
      justify-content: space-around;
      margin-top: 30px;
  }

  .facts-card img {
      width: 45.221px;
      height: 45.222px;


  }

  .card-title {
      color: #727272;
      font-size: 20px;
      font-weight: 600;


  }

  .card-stats {
      font-weight: 600;
      font-size: 45px;
      color: #424242;
  }

  .facts-card {
      border-radius: 10px;
      background: #FFF;
      border-radius: 8px;
      border: 1px solid #FF900E;
      text-align: center;
      padding: 30px;
      width: 241.831px;
      height: 241.831px;
      /* transform: rotate(90deg); */
      /* flex-shrink: 0; */

  }

  /* sponspore style  */
  .sponspore-content {
      text-align: center;
  }

  .sponspore-img-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
      gap: 20px;
  }

  .sponspore-img-container img {
      width: 153.333px;
      height: 50px;
      flex-shrink: 0;
  }

  /* media quary style */

  /* mobail screen  */
  @media screen and (max-width:576px) {

      nav,
      .teams-container,
      .facts-card-container,
      .sponspore-img-container {
          flex-direction: column-reverse;
      }

      .facts-card-container {
          margin: 7rem;
      }

      .teams-description,
      .teams-title2{
          margin-left: 2rem;
      }


      header,
      nav ul {
          padding: 10px 0px 0px;
      }

      .banner-title {
          margin-top: 10px;
          font-size: 2.8rem;
      }

      .teams-img-container {
          grid-template-columns: repeat(1, 1fr);
      }

      .teams-contant {
          padding: 0px 20px;
      }
  }



  /* teblet or medium devieces   */
  @media screen and (min-width:576px) and (max-width:990px) {

      nav {
          flex-direction: column;
      }

      .banner-contant {
          text-align: center;
      }

      .facts {
          margin: 20px;
      }

      .teams-container {
          flex-direction: column;
      }

      .banner-title {
          margin-top: 10px;
          font-size: 2.8rem;
      }

      header,
      nav ul {
          padding: 50px 0px 0px;
      }
      .sponspore-img-container{
        margin: 0px auto;
      }
  }